
/* header */

.header {
    background-color: var(--background);
}

.logo {
    color: var(--accent-color);
font-family: "Poppins", sans-serif;
font-size: 22px;
font-weight: 600;
line-height: 1.5;
}

.logo:hover {
    color: rgba(255, 255, 255, 0.7);
}

.item-link {
    color: var(--main-color);
font-family: "Poppins", sans-serif; 
font-size: 16px;
font-weight: 500;
line-height: 1.5;
}

.item-link:hover {
    color: rgba(255, 255, 255, 0.93);
}

.login-button {
    color: var(--hover-color);
font-family: "Poppins", sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 1.5;
border: none;
border-radius: 8px;
background-color: var(--background);
}

.login-button:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 110, 48, 0.1);
}

.sign-button {
    color: var(--button-text);
font-family: "Poppins", sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 1.5;
border: none;
background-color: var(--button-background);
border-radius: 8px;
}

.sign-button:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 110, 48, 0.7);
}

.main {
    background-color: var(--background);
}

/* section hero */

.hero-title {
    color: var(--accent-color);
font-family: "Poppins", sans-serif;
font-size: 50px;
font-weight: 500;
line-height: 1.4;
}

.dot {
    color: var(--second-additional-color);
font-family: "Poppins", sans-serif;
font-size: 50px;
font-weight: 500;
line-height: 1.4;
}

.hero-desc {
    color: var(--main-color);
font-family: "Poppins", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 1.6;
}

.search-bar {
    border-radius: 15px;
border: 1.5px solid var(--bar-border);
background-color: var(--bar-background);
padding: 8px 11px 8px 20px;
width: 497.659px;
}

.search {
    color: var(--search-text);
font-family: "Poppins", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 1.5;
border: none;
background-color: var(--bar-background);
}

.search-button {
    color: #FFF;
font-family: "Poppins", sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 1.5;
border: none;
background-color: var(--button-background);
border-radius: 8px;
}

.search-button:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 110, 48, 0.7);
}

.hero-item {
    border: none;
    padding: 12px;
    border-radius: 8px;
}

.hero-item:hover {
background: rgba(255, 110, 48, 0.3);
}

.link-logo {
    width: 34px;
    height: 34px;
}

/* section tools */

.tools-title {
    color: var(--accent-color);
text-align: center;
font-family: "Poppins", sans-serif;
font-size: 48px;
font-weight: 500;
line-height: 1.3;
}

.tools-desc {
    color: var(--main-color);
text-align: center;
font-family: "Poppins", sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 1.6;
width: 427px;
}

.tools-item:hover {
    border-radius: 15px;
border: 2px rgba(255, 255, 255, 0.80);
background: rgba(40, 48, 54, 0.60);
backdrop-filter: blur(25px);
background-image: url(../images/tools_mask.png) ;
background-repeat: no-repeat;
background-position: top right;
.tools-item-button {
 color: #FFF;
 background-color: var(--button-background);
}
}

.tools-item-title {
    color: var(--hover-color);
font-family: "Poppins", sans-serif;
font-size: 24px;
font-weight: 500;
line-height: 1.5;
}

.tools-item-subtitle {
    color: var(--second-hover-color);
font-family: "Poppins", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 1.5;
}

.tools-item-desc {
    color: var(--main-color);
font-family: "Poppins", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.8;
}

.favorite,
.folder {
    border: none;
    background-color: var(--background);
    border-radius: 8px;
}

.tools-item-button {
    color: var(--main-color);
font-family: "Poppins", sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 1.5;
border: none;
background-color: var(--background);
border-radius: 8px;
}

.tools-button {
    color: var(--second-additional-color);
font-family: "Poppins", sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 1.5;
border-radius: 8px;
border: 1px solid var(--button-border);
background-color: var(--background);
}

.tools-button:hover {
    color: rgba( 255, 255, 255, 0.8);
    background-color: var(--button-background);;
}

/* section trusted */

.trusted-box {
    border-radius: 25px;
border: 2px solid var(--trusted-border);

backdrop-filter: blur(25px);
background-image: linear-gradient(rgba(44, 53, 61, 0.2), rgba(44, 53, 61, 0.2)),  url(../images/trusted-elipse.png);
background-repeat: no-repeat;
}

.trusted-title {
    color: var(--trusted-text);
font-family: "Poppins", sans-serif;
text-align: center;
font-size: 24px;
font-weight: 500;
line-height: 1.5;
}

/* section newcomers */

.newcomers-title {
    color: var(--accent-color);
font-family: "Poppins", sans-serif;
font-size: 48px;
font-weight: 500;
line-height: 1.3; 
}

.newcomers-desc {
    color: var(--main-color);
font-family: "Poppins", sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 1.6; /* 166.667% */
}

.newcomers-button {
    color: var(--button-text);
font-family: "Poppins", sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 1.5;
border: none;
border-radius: 8px;
background-color: var(--button-background);
}

.newcomers-button:hover {
    color: rgba(255, 255, 255, 0.9);
background-color: rgba(255, 110, 48, 0.7);
}

.newcomers-item {
    border-radius: 15px;
background: var(--background);
}

.newcomers-item:hover {
    background-image: url(../images/newcomers_mask.png);
background-repeat: no-repeat;
background-position: top right;
border: 2px rgba(255, 255, 255, 0.80);
background-color: var(--hover-card-background);
backdrop-filter: blur(25px);
.newcomers-item-button{
    border-radius: 8px;
    background: var(--button-background);
    color: #FFF;
}
}

.newcomers-img {
    width: 64px;
height: 64px;
}

.newcomers-item-title {
    color: var(--hover-color);
font-family: "Poppins", sans-serif;
font-size: 24px;
font-weight: 500;
line-height: 1.5;
}

.newcomers-item-subtitle {
    color: var(--additional-color);
font-family: "Poppins", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 1.5;
}

.newcomers-item-desc {
    color: var(--main-color);

font-family: "Poppins", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 2.1;
}

.newcomers-favorite,
.newcomers-folder {
    padding: 7px;
}

.newcomers-favorite,
.newcomers-folder {
    border: none;
    background-color: var(--background);
    border-radius: 8px;
}

.newcomers-item-button {
    color: var(--main-color);
font-family: "Poppins", sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 1.5;
border: none;
border-radius: 8px;
background-color: var(--background);
}

 /* section recommendation */

 .recommendation-text-box {
border-radius: 8px;
border: 1px var(--bar-border);
background-color: var(--text-box-background);
backdrop-filter: blur(25px);
background-image: url(../images/recommendation_elipse.png);
background-repeat: no-repeat;
background-position: right;
}

.recommendation-title {
    color: var(--hover-color);
font-family: "Poppins", sans-serif;
font-size: 26px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.39px;
width: 220px;
}

.recommendation-subtitle {
    color: var(--main-color);
font-family: "Poppins", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
width: 139px;
}

.recommendation-desc {
    color: var(--hover-color);
font-family: "Roboto", sans-serif; 
font-size: 14px;
font-weight: 400;
line-height: 2.14; 
letter-spacing: 0.21px;
width: 393px;
}

.recommendation-button {
    border: none;
background-color: var(--background);
border-radius: 8px;
}

.recommendation-button:hover {
 background-color: rgba(255, 110, 48, 0.2);
}

.nav-button:nth-child(1),
.nav-button:nth-child(3) {
    background-color: var(--bar-background);
border-radius: 4px;
border: none;
width: 43px;
height: 8px;
}

.nav-button:nth-child(1):hover,
.nav-button:nth-child(3):hover {
    background-color: rgba(60, 68, 74, 1);
}

.nav-button:nth-child(2) {
    background-color: var(--button-background);
border-radius: 4px;
border: none;
width: 43px;
height: 8px;
}

.nav-button:nth-child(2):hover  {
    background-color: rgba(255, 130, 68, 1);
}

/* section email  */

.email-title {
    color: var(--accent-color);
text-align: center;
font-family: "Poppins", sans-serif;  
font-size: 48px;
font-weight: 500;
line-height: 1.3;
}

.email-desc {
    color: var(--main-color);

text-align: center;
font-family: "Poppins", sans-serif;  
font-size: 18px;
font-weight: 500;
line-height: 1.6; 
width: 427px;
}

.email-form {
    border-radius: 15px;
border: 1.5px solid var(--bar-border);
background-color: var(--bar-background);
width: 549px;
height: 64px;
}

.form-input {
    color: var(--search-text);
font-family: "Poppins", sans-serif;  
font-size: 14px;
font-weight: 400;
line-height: 1.5;
border: none;
background-color: var(--bar-background);
}

.form-button {
color: var(--button-text);
font-family: "Poppins", sans-serif;  
font-size: 16px;
font-weight: 600;
line-height: 1.5;
border: none;
border-radius: 8px;
background: var(--button-background);
}

.form-button:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 110, 48, 0.7);
}

/* footer */

.footer {
    background-color: var(--background);
}

.footer-item-link {
    color: var(--accent-color);
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
}

.footer-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.footer-title {
    color: var(--accent-color);
font-family: "Poppins", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
}

.footer-desc {
    color: var(--main-color);
font-family: "Poppins", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 1.78;
width: 260px;
}

.address-title {
    color: var(--accent-color);
font-family: "Poppins", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
}

.address-link {
    color: var(--main-color);
font-family: "Poppins", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
}

.address-link:hover {
    color: rgba(255, 255, 255, 0.93);
}

.categories-title {
    color: var(--accent-color);
font-family: "Poppins", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
}

.categories-link {
    color: var(--main-color);
font-family: "Poppins", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
}

.categories-link:hover {
    color: rgba(255, 255, 255, 0.93);
}

.info-title {
    color: var(--accent-color);
font-family: "Poppins", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
}

.info-link {
    color: var(--main-color);
font-family: "Poppins", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
}

.info-link:hover {
    color: rgba(255, 255, 255, 0.93);
}


/*    "Poppins", sans-serif;   */
/*    "Lora", serif;           */
/*    "Roboto", sans-serif;     */